* {
  margin: 0px;
}

#background {
  background-image: url(./Assets/firelinkshrineds1.jpg);
  max-width: 100svw;
  min-height: 120svh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#itembackground {
  background-color: rgba(0, 0, 0, 0.633);
  max-height: 50svh;
  max-width: 20svw;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #page-top {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./Assets/716916.jpg);
    display: flex;
    background-position: bottom;
    width: 100vw;
    height: 30vh;
  }

  #nav-bar {
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url();
    width: 100vw;
    height: 8vh;
    position: sticky;
    top: 0px;
    display: flex;
    align-self: flex-end;
  }

  border-radius: 180px 180px 0px 0px;
  margin-bottom: 40px;
  margin-top: 10px;
}

#itemtext1 {
  flex-direction: row;
  color: aliceblue;
  justify-content: space-around;
  display: flex;
}

#itemtext2 {
  flex-direction: row;
  color: aliceblue;
  justify-content: space-evenly;
  display: flex;
}

#itembox {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#walltext {
  background-color: rgba(0, 0, 0, 0.668);
  color: antiquewhite;
  display: flex;
  margin: 0px 400px 0px 400px;
  flex-direction: column;
  font-size: large;
  padding: 10px;
}
