* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top_bilde {
  background-color: black;
  background-image: url(./Assets/ds3_title.png);
  width: 100svw;
  height: 20svh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#nav_bar {
  position: sticky;
  top: 0px;
  width: 100svw;
  height: 6svh;
  border: 4px ridge red;
  background-color: blue;
}

button {
}
